<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token">

    <title>Ecommunity</title>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">

    <!-- Scripts -->
    <link rel="stylesheet" href="">
    <script src=""></script>
</head>
<body>

    {% block navBar %}

    {% endblock %}
    
    <div>
        {% block content %}
        
        {% endblock %}
    </div>

    <script src="https://kit.fontawesome.com/932290cf31.js" crossorigin="anonymous"></script>
</body>
</html>
